.pagination {
  line-height: 50px;
  clear: both;
  text-align: center;
  font-size: 16px;
  .page.current {
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;
  }
  span {
    margin: 0 7px;
    color: white;
  }
}