.pagination {
  line-height: 50px;
  clear: both;
  text-align: center;
  font-size: 16px;

  .page.current {
    background: #93c9ff;     /*背景の色を変える*/
    padding: 10px;
    border-radius: 20px;
  }
  span,a {
    margin: 0 7px;
    text-decoration: none;
  }
}