.pagination {
  height: 50px;
  line-height: 50px;
  clear: both;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  
  .page.current {
    background: #93c9ff;     /*背景の色を変える*/
    border-radius: 15px;
  }
  .page {
  }
  .next {

  }
  .last {

  }
  span {
    background-color: #999;
    border-radius: 15px;
    margin: 0 7px;
  }
}