.tweet_contents {
  padding-top: 100px;
  text-align: center;
  .tweet_content {
    background-color: #33cccc;
    margin-bottom: 20px;
    &__top {
      padding: 10px 100px;
      &--body {
        background-color: $mainWhiteColor;
        border-radius: 25px;
        height: 200px;
      }
    }
    &__bottom {
      text-align: center;
      &--name {
        text-align: left;
        margin-left: 120px;
      }
      &__outputNew {
        &--btn {
          border: solid 2px blue;
          background-color: $backGrayColor;
          padding: 4px;
          border-radius: 3px;
          text-decoration: none;
          font-size: 20px;
          font-weight: bold;
          color: $mainWhiteColor;
        }
      }
    }
  }
  .output_content {
    padding: 0 100px;
    &__title {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__body {
      width: calc(100vw - 200px);
      display: flex;
      margin-bottom: 14px;
      padding-bottom: 8px;
      border-bottom: dotted 1px $backGrayColor;
      &__right {
        text-align: left;
        &__name {
          margin-left: 8px;
          &--icon{
            font-size: 30px;
          }
        }
        &__review {
          background-color: #beeef5;
          margin-left: 25px;
          border-radius: 0 1rem 1rem 1rem;
          padding: 4px;
        }
      }
    }
  }
}