
.top_contents {
  &__topImage {
    &--image{
      width: 100%;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  &__tweet_contents {

    &__tweet_content {
      height: 200px;
      width: 300px;
      float: left;
      margin: 100px 20px 10px;
      box-shadow: 0 0 5px;
      border-radius: 1rem;
      position: relative;
      &--body {
        background-color: lightblue;
        border-radius: 1rem;
      }
      &__bottom {
        display: flex;
        position: absolute;
        bottom: 0;
        align-items: center;
        &__username {
          margin: 0 8px;
        }
        &__comment {
          display: inline-block;
          padding: 0.3em 1em;
          text-decoration: none;
          color: $commentButtonColor;
          border: solid 2px $commentButtonColor;
          border-radius: 3px;
          transition: .4s;
        }
        &__comment:hover {
          background: $commentButtonColor;
          color: $mainWhiteColor;
        }
        &__count {
          margin-left: 3px;
          color: $mainWhiteColor;
          background-color: $backGrayColor;
          border-radius: 12px;
          line-height: 20px;
          height: 20px;
          width: 60px;
          text-align: center;
        }
      }
    }
  }
}