.output_contents
  .output_contents__content
    = form_for [@tweet, @output], url: tweet_outputs_path, class: "output_contents__content__form" do |f|
      %h5
      .output_contents__content__form__title1 コメント
      = f.text_area :review, placeholder: "例:僕が高校生の時によく聴いてました。春がきてから梅雨に入るまで聴くとなお良いです！" , rows: "10", class: "output_contents__content__form__title1--review"
      .output_contents__content__form__title2 YouTubeURL
      = f.text_field :youtube_url, placeholder: "youtube_url or niconico_url" , rows: "1", class: "output_contents__content__form__title2--url"
      = f.submit "投稿する", class: "output_contents__content__form__title2--btn"
